<form class="formulario" action="">

    <h2>Formulario de Registro</h2>

    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre"><br> <br>
    
    <label for="correo">Correo</label>
    <input type="email" name="correo" id="correo"><br> <br>
    
    <label for="pas_palabra">Contraseña</label>
    <input type="password" name="pas_palabra" id="pas_palabra"><br> <br>
   
    <label for="repetir">Repetir Contraseña</label>
    <input type="password" name="repetir" id="repetir"><br> <br>
    
    <input id="botonAñadir" type="submit" value="Enviar">

</form>
