<form class="formulario" action="" id="formular">

        <h2>Formulario de Acceso</h2>
        
        <label for="usuario">Usuario</label>
        <input [(ngModel)]="usuario1" type="text" name="usuario" id="usuario"><br> <br>
    
        <label for="contrasena">Contraseña</label>
        <input [(ngModel)]="contrasena1" type="password" name="contrasena" id="contrasena"><br> <br>
    
        <button (click)="siCorrecto()">Enviar</button>
        <!-- <input id="botonAñadir" type="submit" value="Enviar"> -->
    </form>

    <div *ngIf="enviar1; then sicorrecto else nocorrecto"></div>
    
    <ng-template #sicorrecto>
        <h2>{{usuario1}}</h2>
        <h2>Usuario Correcto</h2>
    </ng-template>
    <ng-template #nocorrecto>
        <h2>Identificate</h2>
    </ng-template>
    
    