*{
    box-sizing: border-box;
    margin: 0;
   
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d567f4;
    gap: .2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 1em;
}

input{
    width: 25em;
    height: 3em;
    border-radius: 1em;
    
}
#botonAñadir{
    width: 15em;
}