<div class="container mt5 ">
    <div class="row">
        <div class="w80">
            <div class="card">
                    <div class="card-body usuario-card">
                    <div class=" carta card mb-3" class="table">
                      <h3 class="card-header">{{this.listUsuarios[1].tipo}}</h3>
                      <div class="card-body">
                        <h4 class="card-title">{{this.listUsuarios[1].nombre}}</h4>
                        <h4 class="card-title">{{this.listUsuarios[1].apellidos}}</h4>
                        <h4 class="card-title">{{this.listUsuarios[1].Fnacimiento}}</h4>
                        <!-- <h4 class="card-subtitle text-muted">{{this.listUsuarios[1].apellidos}}</h4> -->
                        <h4 class="card-title">{{this.listUsuarios[1].email}}</h4>
                        <h4 class="card-title">{{this.listUsuarios[1].telefono}}</h4>
                        <!-- <h4 class="card-subtitle text-muted">{{this.listUsuarios[1].apellidos}}</h4> -->
                      </div>
                      <img src="{{this.listUsuarios[1].foto}}"  alt="foto del usuario">
                      <div class="card-body">
                        <p class="card-text">{{this.listUsuarios[1].pass}}</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <!-- <li class="list-group-item">{{this.listUsuarios[1].temas}}</li> -->
                      </ul>
                      <div class="card-body">
                      </div>
                      <div class="card-footer text-muted">
                        <!-- <p> Fecha de Creación : {{this.listUsuarios[1].fechaCreacion}}</p> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
