<form class="formulario" action="">

    <h2>Formulario de Pedidos</h2>

    <label for="nombre">Nombre</label>
    <input type="text" name="nombrec" id="nombre">
    
    <label for="correo">Correo</label>
    <input type="email" name="correo" id="correo">
    
    <label for="telefono">Telefono</label>
    <input type="tel" name="telefono" id="telefono">
   
    <label for="direccion">Dirección</label>
    <input type="text" name="direccion" id="direccion">

    <label for="codigoP">Codigo Postal</label>
    <input type="text" name="codigoP" id="codigoP">
    
    <input id="botonAñadir" type="submit" value="Enviar">
</form>
