
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Bienvenida</span>
    

    <div>
      <ul id="menu">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/cursos">Cursos</a></li>
        <li><a routerLink="/curso">Curso</a></li>
        <li><a routerLink="/alumnos">Alumnos</a></li>
        <li><a routerLink="/alumno">Alumno</a></li>
        <li><a routerLink="/profesores">Profesores</a></li>
        <li><a routerLink="/profesore">Profesor</a></li>
        <li><a routerLink="/acceso">Acseso</a></li>
        <li><a routerLink="/registro">Registro</a></li>
        <li><a routerLink="/consulta">Consulta</a></li>
      </ul>
    </div>
  

</div>

<router-outlet></router-outlet>
<ng-template>
<app-cursos></app-cursos>
<app-curso></app-curso>
<app-alumnos></app-alumnos>
<app-alumno></app-alumno>
<app-profesores></app-profesores>
<app-profesore></app-profesore>
<app-formulario-acceso></app-formulario-acceso>
<app-formulario-consulta></app-formulario-consulta>
<app-formulario-registro></app-formulario-registro>
</ng-template>

