*{
    box-sizing: border-box;
    margin: 0;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
}
input{
    width: 25em;
    height: 3em;
    background-color:#04bbec;
}

#boton{
    width: 15em;
    height: 3em;
    background-color: #04bbec;
}